//
// Typography
//

@import '../abstracts/variables';

body {
  font-family: $text-font;
  
}
p{
  line-height: $line-height;
}
h1{
  font-family: $text-font-serif;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: 1.5rem;
}
h2{
  font-family: $text-font-serif;
  font-style: normal;
  font-size: 2rem;
}