//
// Buttons
//

@import '../abstracts/mediamixins';
@import '../abstracts/variables';

.btn {
  border: 0;
  cursor: pointer;
  background-color: $color-black;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
    a {
      color: $color-black;
    }
  }

  a {
    color: $color-white;
    font-weight: $font-weight-black;
    &:hover,
    &:focus {
      color: $color-black;
    }
  }
}

.btn-regular {
  padding: .8em 2.5em;

  a {
    font-size: 1rem;
    &:hover,
    &:focus {
      color: $color-black;
    }
  }
}

.btn-small {
  padding: .5em 2em;
}