//
// Buttons
//

@import '../abstracts/mediamixins';
@import '../abstracts/variables';

.btn {
  cursor: pointer;
  border-radius: .3em;
  background-color: $color-white;
    
    border: 1px solid $color-black;

  &:hover,
  &:focus {
    background-color: $color-black;
    border: 1px solid $color-black;
    
    a {
      color: $color-white;
    }
  }

  a {
    color: $color-black;
    font-weight: $font-weight-regular;
    &:hover,
    &:focus {
      color: $color-white;
    }
  }
}

.btn-regular {
  padding: .8em 2.5em;

  a {
    font-size: 1rem;
    &:hover,
    &:focus {
      color: $color-white;
    }
  }
}

.btn-small {
  padding: .8em 2em;
}