.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .card {
        width: 100%;
        padding: 10px;
        height: auto;
        &.card--hidden {
            display: none;
        }
        .card__header {
            background: $color-gray-light;
            position: relative;
            overflow: hidden;
            display: block;
            img {
                display: block;
                width: 100%;
                min-height: 250px;
                height: 25vh;
                object-fit: cover;
                object-position: 50% 20%;
                transition: width .2s ease-out, margin .2s ease-out;
            }
            .card__headertext {
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                padding: 15px;
                width: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
            }
            .play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 3rem;
                margin-left: -1.5rem;
                color: rgba(255, 255, 255, .5);
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
            }
            &:hover {
                img {
                    width: 106%;
                    margin-left: -3%
                }
                .play-icon {
                    color: rgba(255, 255, 255, 1);
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                }
            }
        }
        .card__body {
            height: 100%;
            background: $color-gray-light;
        }
        .card__title {
            color: #fff;
            font-size: 1.4rem;
            margin: 0 0 5px;
            em {
                display: block;
                font-style: normal;
                font-size: 1rem;
                line-height: 1rem;
            }
        }
        .card__cta {
            padding: 15px;
            a {
                display: block;
                padding: 5px 15px 5px 20px;
                color: $color-gray-dark;
                i {
                    margin-right: 5px;
                }
                &:hover {
                    color: $color-gray-dark;
                }
            }
            .btn {
                padding: 8px 15px 8px 20px;
                background: #000;
                color: #fff;
                text-decoration: none;
                border-radius: 20px;
                &:hover {
                    background-color: $color-gray-dark;
                    color: #fff;
                }
            }
        }
        .card__tag {
            background: #fff;
            color: $color-gray-dark;
            text-transform: uppercase;
            display: inline;
            margin-bottom: 3px;
            padding: 5px;
            font-size: 14px;
            letter-spacing: .05rem;
            line-height: 1em;
            &.card__tag--extra {
                background: $color-purple;
                color: $color-gray-dark;
            }
            &.card__tag--GRA {
                background: $color-gray-dark;
                color: #fff;
            }
            &.card__tag--BNB {
                background: $color-orange-medium;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1020px) {
    .cards {
        .card {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
    .header {
        margin-left: 0;
        margin-right: 0;
        flex-wrap: wrap;
        .block {
            width: 100%;
            margin-right: 0;
        }
        .idontknow {
            display: block;
            margin-top: 1rem;
        }
    }
    .title_bar {
        flex-wrap: wrap;
        align-items: center;
        h2 {
            margin: 15px 0;
        }
        .clear {
            flex-grow: 0;
        }
        .search {
            width: 100%;
            margin-top: 10px;
            order: -1;
            input {
                width: 100%;
                margin: 0;
            }
        }
    }
    .cards {
        .card {
            width: 50%;
            .card__cta {
                .btn {
                    border-radius: 0;
                    background-color: $color-gray-dark;
                }
                padding: 0px;
            }
        }
    }
    .top-menu ul {
        display: none;
    }
    .main-menu li a {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .logo {
        display: block;
        height: 40px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        .idontknow {
            width: 100%;
        }
    }
    .cards {
        .card {
            width: 100%;
        }
    }
}