//
// Workshop Detail Page
//

@import '../abstracts/mixins';
@import '../abstracts/variables';



@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

main.detail-page {
  margin-top: 3em;
  .info-container {
    width: 85%;
    margin: 0 auto;

    .return {
      margin-left: 7em;
      color: $color-black;
    }
  }

  section.info {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-right: 5em;

    .image-section {
      width: 55%;
      .top {
        margin-bottom: 1em;
        img {
          width: 100%;
        }
      }

      .bottom {
        display: flex;

        .img-small1 {
          width: 30%;
        }

        .img-small2 {
          width: 68%;
          margin-left: 1em;
        }
      }

      .sponsor {
        width: 100%;
        margin-left: 55%;

        p {
          text-transform: uppercase;
        }

        img {
          width: 30%;
        }
      }
    }

    .text-section {
      width: 35%;

      h1 {
        font-size: 45px;
        font-weight: $font-weight-regular;
        margin-top: -1em;
      }

      .intro {
        font-size: 20px;
      }

      p {
        font-size: 18px;

        .bold {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
.form-section {
  h2 {
    @include title();
    margin-top: 3em;
    margin-left: 9.5em;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    background-color: $color-gray-light;
    width: 95%;
    padding: 3em 3em 3em 0;

    .img {
      width: 25%;

      img {
        width: 100%;
      }
    }

    form {
      display: flex;
      justify-content: space-between;
      width: 50%;

      .personal {
        width: 50%;

        label {
          display: block;
          font-size: 20px;
          font-weight: $font-weight-bold;
        }

        > div {
          margin-bottom: 1em;
        }

        input {
          width: 72.5%;
  
          &::placeholder {
            font-size: 18px;
            color: $color-gray-dark;
            padding: 0 .5em;
          }
        }

        .available-options {
          select {
            min-width: 22.5%;
          }
        }

        .citycode {
          display: flex;
          justify-content: space-between;
          width: 50%;

          .postal_code,
          .city {
            width: 20%;
            
            input {
              width: 325%;
            }
          }
        }
      }

      .workshop-selection {
        width: 50%;

        .workshop-option {
          margin-top: .5em;

          label {
            font-size: 18px;
          }
        }

        .location {
          margin-top: 2.5em;
          margin-bottom: 3em;

          label {
            display: block;
            font-size: 20px;
            font-weight: $font-weight-bold;
          }

          select {
            width: 80%;
          }
        }

        .remarks {
          margin-bottom: 3em;

          label {
            display: block;
            font-size: 20px;
            font-weight: $font-weight-bold;
          }

          textarea {
            width: 80%;
          }
        }
      }
    }

    .practical {
      width: 20%;
    }
  }

  .bold {
    font-weight: $font-weight-bold;
    font-size: 20px;
  }
}