//
// Home
//

@import '../abstracts/mediamixins';
@import '../abstracts/mixins';
@import '../abstracts/variables';

@include small {
  main.homepage {
    .intro.sp_section {
      width: 100%;

.image-section{
  text-align: center;
  iframe{
    width: 100%;
    min-height: 300px;
    height: auto;
  }
}
     .text-section {
        width: 90%;
        margin: 0 auto;
        //margin-top: 2em;

        h1 {
          @include title-small();
        }

        .btn-regular {
          display: block;
          margin: 2em auto 0 auto;
        }
      }
    }

    .orange-block {
      display: none;
    }

    .workshops {
      width: 100%;
      margin: 0 auto;

      h2 {
        @include title-small();
        margin-left: 0;
      }

      .workshops-container {
        width: 90%;
        margin-left: 0;
        padding: .5em 0 0 1em;

        .glider-contain.glider-contain-workshops {
          .glider-dots {
            margin-top: 1em;

            .glider-dot {
              width: 1em !important;
              height: 1em !important;
            }
          }
        }
      }
    }

    .team {
      margin-top: -1em;

      h2 {
        @include title-small();
      }

      .glider-contain.glider-contain-team {
        .glider-dots {
          margin-top: 1em;

          .glider-dot {
            width: 1em !important;
            height: 1em !important;
          }
        }

        .glider {
          .team-card {
            width: 25em !important;
            margin: 6em .5em 0 .5em;

            img {
              height: 30%;
              margin-top: -5.5em;
            }
          }
        }
      }
    }
  }
}

@include medium {
  main.homepage {
    .intro {
      width: 95%;

      .image-section {
        height: 250px
      }
      
      .text-section {
        h1 {
          @include title-small();
        }
      }
    }

    .orange-block {
      height: 1100px
    }

    .workshops {
      h2 {
        @include title-small();
        margin-left: 5em;
      }

      .workshops-container {
        padding: .5em 1em 1em 1em;

        .glider-contain.glider-contain-workshops {
          .glider-dots {
            margin-top: 1em;

            .glider-dot {
              width: 1.5em !important;
              height: 1.5em !important;
            }
          }
        }
      }
    }

    .team {
      h2 {
        @include title-small();
      }

      .glider-contain.glider-contain-team {
        .glider-dots {
          .glider-dot {
            width: 1.5em !important;
            height: 1.5em !important;
          }
        }

        .glider {
          .team-card {
            img {
              height: 35%;
              margin-top: -6em;
            }
          }
        }
      }
    }
  }
}

@include large{
  main.homepage {
    .intro {
      width: 85%;
      margin: 3em auto;
      display: flex;
      justify-content: space-between;
    
      .image-section {
        width: 70%;
        height: 400px;
        .home-intro {
          width: 85%;
          height: 100%;
        }
      }
  
      .text-section {
        width: 40%;
        margin-top: -2.5em;
  
        h1 {
          @include title-small();
        }
  
        p {
          font-size: 16px;
          margin-top: -1em;
        }
      }
    }
  
    /*.orange-block {
      height: 2300px;
      /*background-color: $color-orange-medium;
      background: rgb(245,135,50);
      background: linear-gradient(90deg, rgba(245,135,50,0.1) 35%, rgba(245,135,50,0.2) 100%);
      width: 12.5%;
      position: absolute;
      z-index: -1;
      margin-top: 0;
    }*/
  
    .workshops {
      h2 {
        @include title-small();
      }
  
      .workshops-container {
        background-color: $color-gray-light;
        width: 100%;
        
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 2em 1em 6em 0;
  
        .cards-container{
          width: 80%;
          margin: 0 auto;
        }
        .glider-contain.glider-contain-workshops {
          .glider-dots {
            margin-top: -1em;
            margin-bottom: 2em;
  
            .glider-dot {
              width: 1.5em !important;
              height: 1.5em !important;
              box-shadow: 0px 3px 8px 2px rgba(0,0,41,0.2);
              background: none !important;
    
              &.active,
              &:hover,
              &:focus {
                background: $color-orange-dark !important;
              }
            }
            
          }
          #glider-workshops{
            height: auto;
            padding-bottom: 5rem;
          }
          .glider {
            .workshops-card {
              width: 33%;
              margin-right: 1em;
              
              .thumbnail {
                max-width: 100%;
                height: 45%;
                object-fit: cover;
                object-position: 0 0;
              }
            }
          }
        }
      }
    }
  
    .team {
      h2 {
        @include title-small();
        text-align: center;
        margin-top: 2em;
        span{
          font-family: $text-font-serif;
        }
      }
  
      .glider-contain.glider-contain-team {
        width: 90% !important;
        margin: 5em auto 0 auto;
  
        .glider-dots {
          margin-top: -2em;
          margin-bottom: 2em;
  
          .glider-dot {
            width: 2em !important;
            height: 2em !important;
            -webkit-box-shadow: 0px 3px 15px 6px rgba(0,0,41,0.1); 
            box-shadow: 0px 3px 15px 6px rgba(0,0,41,0.1);
            background: none !important;
  
            &.active,
            &:hover,
            &:focus {
              background: $color-orange-dark !important;
            }
          }
        }
       
        .glider {
          
          .team-card {
            background-color: $color-gray-light;
            padding-bottom: 0.5em;
            margin: 8em 1em 0 1em;
            height: auto;
  
            img {
              margin-top: -7.5em;
              width: 100%;
              height: 50%;

              object-fit: cover;
              object-position: 0 0;
              overflow: hidden;
            }
  
            .info {
              width: 90%;
              margin: 0 auto 0 auto;
  
              .firstname,
              .lastname {
                font-size: 2rem;
                line-height: 1;
              }
  
              h4 {
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: $font-weight-light;
              }
  
              h5 {
                font-size: 1.2rem;
              }
  
              ul {
                list-style-type: disc;
                margin-left: -1em;
                margin-top: -1.5em;
                line-height: 1.5;
                li {
                  font-size: 1.1rem;
                }
              }
  
              p {
                font-size: 1.2rem;
                margin-top: -1.5em;
              }
            }
          }
        }
      }
    }
  }
}