//
// Home
//

@import '../abstracts/mediamixins';
@import '../abstracts/mixins';
@import '../abstracts/variables';

main.homepage {
  .intro {
    width: 85%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
  
    .image-section {
      width: 70%;
      height: 400px;
      .home-intro {
        width: 85%;
        height: 100%;
      }
    }

    .text-section {
      width: 40%;
      margin-top: -2.5em;

      h1 {
        @include title();
      }

      p {
        font-size: 16px;
        margin-top: -1em;
      }
    }
  }

  .orange-block {
    height: 1350px;
    background-color: $color-orange-medium;
    width: 12.5%;
    position: absolute;
    z-index: -1;
    margin-top: -2em;
  }

  .workshops {
    h2 {
      @include title();
      margin-left: 7em;
    }

    .workshops-container {
      background-color: $color-gray-light;
      width: 75%;
      margin-left: 12.5%;
      margin-top: -1em;
      padding: 2em 1em 1em 7.5em;

      .glider-contain.glider-contain-workshops {
        .glider-dots {
          margin-top: -1em;
          margin-bottom: 2em;

          .glider-dot {
            width: 1.5em !important;
            height: 1.5em !important;
            -webkit-box-shadow: 0px 3px 15px 6px rgba(0,0,41,0.2); 
            box-shadow: 0px 3px 15px 6px rgba(0,0,41,0.2);
            background: none !important;
  
            &.active,
            &:hover,
            &:focus {
              background: $color-orange-dark !important;
            }
          }
        }

        .glider {
          .workshops-card {
            width: 33%;
            margin-right: 1em;
            
            .thumbnail {
              max-width: 100%;
              height: 45%;
              object-fit: cover;
              object-position: 0 0;
            }
          }
        }
      }
    }
  }

  .team {
    h2 {
      @include title();
      text-align: center;
      margin-top: 2em;
      span{
        font-family: $text-font-serif;
      }
    }

    .glider-contain.glider-contain-team {
      width: 90% !important;
      margin: 5em auto 0 auto;

      .glider-dots {
        margin-top: -2em;
        margin-bottom: 2em;

        .glider-dot {
          width: 2em !important;
          height: 2em !important;
          -webkit-box-shadow: 0px 3px 15px 6px rgba(0,0,41,0.2); 
          box-shadow: 0px 3px 15px 6px rgba(0,0,41,0.2);
          background: none !important;

          &.active,
          &:hover,
          &:focus {
            background: $color-orange-dark !important;
          }
        }
      }

      .glider {
        .team-card {
          width: 20em !important;
          background-color: $color-orange-medium;
          padding-bottom: 1em;
          margin: 8em 1em 0 1em;

          img {
            margin-top: -7.5em;
            width: 100%;
            height: 45%;
            border-radius: 100%;
            object-fit: cover;
            object-position: 0 0;
          }

          .info {
            width: 90%;
            margin: -1em auto 0 auto;

            .firstname,
            .lastname {
              font-size: 32px;
              font-weight: $font-weight-bold;
            }

            .lastname {
              margin-top: -1.2em;
            }

            h5 {
              font-size: 24px;
              font-weight: $font-weight-bold;
            }

            ul {
              list-style-type: disc;
              margin-left: -1em;
              margin-top: -1.5em;
              li {
                font-size: 18px;
              }
            }

            p {
              font-size: 18px;
              margin-top: -1.5em;
            }
          }
        }
      }
    }
  }
}

@include small {
  main.homepage {
    .intro {
      width: 100%;
      display: block;

      .image-section {
        width: 100%;
        margin: 0 auto;
        margin-top: -2em;
        height: 200px;

        .home-intro {
          width: 100%;
        }
      }

      .text-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;

        h1 {
          @include title-small();
        }

        .btn-regular {
          display: block;
          margin: 2em auto 0 auto;
        }
      }
    }

    .orange-block {
      display: none;
    }

    .workshops {
      width: 90%;
      margin: 0 auto;

      h2 {
        @include title-small();
        margin-left: 0;
      }

      .workshops-container {
        width: 90%;
        margin-left: 0;
        padding: .5em 1em 0 1em;

        .glider-contain.glider-contain-workshops {
          .glider-dots {
            margin-top: 1em;

            .glider-dot {
              width: 1em !important;
              height: 1em !important;
            }
          }
        }
      }
    }

    .team {
      margin-top: -1em;

      h2 {
        @include title-small();
      }

      .glider-contain.glider-contain-team {
        .glider-dots {
          margin-top: 1em;

          .glider-dot {
            width: 1em !important;
            height: 1em !important;
          }
        }

        .glider {
          .team-card {
            width: 25em !important;
            margin: 6em .5em 0 .5em;

            img {
              height: 30%;
              margin-top: -5.5em;
            }
          }
        }
      }
    }
  }
}

@include medium {
  main.homepage {
    .intro {
      width: 95%;

      .image-section {
        height: 250px
      }
      
      .text-section {
        h1 {
          @include title-medium();
        }
      }
    }

    .orange-block {
      height: 1100px
    }

    .workshops {
      h2 {
        @include title-medium();
        margin-left: 5em;
      }

      .workshops-container {
        padding: .5em 1em 1em 1em;

        .glider-contain.glider-contain-workshops {
          .glider-dots {
            margin-top: 1em;

            .glider-dot {
              width: 1.5em !important;
              height: 1.5em !important;
            }
          }
        }
      }
    }

    .team {
      h2 {
        @include title-medium();
      }

      .glider-contain.glider-contain-team {
        .glider-dots {
          .glider-dot {
            width: 1.5em !important;
            height: 1.5em !important;
          }
        }

        .glider {
          .team-card {
            img {
              height: 35%;
              margin-top: -6em;
            }
          }
        }
      }
    }
  }
}